<Layouts.flash_group flash={@flash} />

<.marketing_hero current_scope={@current_scope} />
<.marketing_belief_band />
<.marketing_how_it_works />
<.marketing_feature_grid />
<.marketing_numbers_band />
<.marketing_cta_section current_scope={@current_scope} />
